* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(to left bottom, #112d4e, #1c3d65, #284e7d, #336096, #3f72af);
    /* background-image: linear-gradient(to left bottom, #0077b6, #0083be, #008ec5, #009acb, #00a5d1, #28afd6, #3eb9da, #51c3df, #6fcee5, #89d9eb, #a0e3f2, #b7eef9); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


}

.blur {
    /* background: rgb(255, 255, 255, 0.08); */
    z-index: -1;
    left: 0;
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* filter: blur(15px); */

}

.title {
    text-align: center;
    color: #0d2748;
    /* color: #fff */
}

.title h2 {
    font-weight: 900;
    color: #122741;
}

.title h6 {
    margin-bottom: 20px;
    font-weight: 900;
}

.top {
    border-radius: 5px;
    margin-top: 15px;
    padding: 32px 14px;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border: 1px solid #ffffffba;
    margin-left: 44px;
}

form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-box {
    width: calc(100% / 2 - 20px);
    padding: 5px;
    margin: 10px 0 10px 0;
    /* border: #ddd; */
}

.submit-btn {
    cursor: pointer;
    color: white;
    background-color: #3f72af;
    border: none;
    border-radius: 5px;

}

/*-------------- table style here------------- */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 13px;
    font-weight: 900;
    color: #0b1f39;
}

.bottom {
    border-radius: 5px;
    margin-top: 15px;
    padding: 14px 14px;
    max-width: 900px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border: 1px solid #ffffffba;
    padding-bottom: 0;
}

table {
    /* margin-top: 30px;
    border-collapse: collapse; */

    width: 700px;
    border-collapse: collapse;
    /* background: white; */
    border-radius: 5px;
    margin-top: 15px;
}

thead tr {
    border-bottom: 2px solid #ccc;
}

tr {
    border-bottom: 1px solid #ddd;
}

th,
td {
    /* border: 1px solid #ddd; */
    padding: 0 20px 0;
    margin-top: 30px;
    text-align: center;
}

tbody tr td span {
    cursor: pointer;
}


/* search styling */
.search-con {
    width: 35%;
    position: relative;
    height: 30px;
}

.search-con input {
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 5px;
}

.search-con span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: 700;
}

.count {
    padding-top: 10px;
    display: block;
    padding-left: 10px;
    font-weight: 800;
}

/*================= responsive ================ */


@media (max-width: 767px) {
    .title {
        display: flex;
        flex-direction: column;
    }

    .top {
        width: 300px;
        margin: 15px auto 0;
    }

    .top form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .input-box {
        width: 100%;
    }

    table {
        margin: 30px auto;
        width: 100%;

    }

    table thead tr {
        display: none;
    }

    table tr {
        display: block;
    }

    table td {
        display: block;
        text-align: right;
        font-size: 1em
    }

    table td::before {
        content: attr(data-title) ": ";
        float: left;
        font-weight: 800;
    }

    th,
    td {
        padding: 0 20px 0;
        margin-top: 0;

    }

    .header-container h2 {
        display: none;
    }

    .search-con {
        width: 100%;
    }
}